<div class="p-login">
    <div class="news-feed">
      <div class="news-image">
          <img src="css/login/img/bg-7.jpg" />
      </div>
      <div class="news-caption">
        <h4 class="caption-title">成就所托，持之以恒！</h4>
        <p>洞悉需求，应势而生;风雨同舟，一路同行
        </p>
      </div>
    </div>
    <div class="right-content">
      <div class="login-header">
        <div class="brand">
          <span class="logo"></span> 登录  
          <small></small>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in"></i>
        </div>
      </div>
      <div class="login-content">
        <form method="post" action="submitLogin.htm" id="loginForm">
        
           <div class="m-tip-box m-tip-error" #if("$!errorInfo"!="")style="display: block" #else style="display: none" #end>
            <span><i class="fa fa-close"></i></span> <span id="msg">$!{errorInfo}</span>
          </div>
        
          
          <div class="form-group">
              <input type="text" id="user_name" type="text" name="user_name" class="form-control input-lg" placeholder="用户名" value="$!userName" />
          </div>
          <div class="form-group">
              <input type="text" id="pass_word" type="password" name="password" class="form-control input-lg" placeholder="密码" value="$!password"/>
          </div>
          <div class="form-group">
              <input type="text" id="check_code" name="checkCode" class="form-control control-verify input-lg" placeholder="验证码" value="$!checkcode"/>
              <img id='checkCode' onclick='changeCode()'src="$appServer.get('/horn/checkCode/get.htm')"  class="check-img"/>
          </div>
          <div class="form-group">
			<select name="theme" class="form-control input-lg"  title="皮肤主题">
              <option value ="mini">紧凑版</option>
              <option value ="horn">宽松版</option>
              <option value="classic">经典灰</option>
            </select>
		  </div>
          <div class="login-buttons">
              <button type="button" onclick="loginSubmit()" class="btn-login" id="btnLogin">登　录</button>
          </div>
          <div class="regedit">
              <font size="3" color="red">温馨提示：直接点击登录按钮即可进入demo首页。</font>
          </div>
          <hr />
          <p class="copyright">
              &copy; HUNDSUN All Right Reserved 2016
          </p>
        </form>
      </div>
    </div>
  </div>
  

#jscode()
	$(document).ready(function(){
	  	$("#user_name").blur(function(){
	  			if($(this).val()==""){
	  				showOrHideMsg(true,"用户ID不能为空");
	  			}else{
	  				showOrHideMsg(false,"");
	  			}
	  	});
	  	$("#pass_word").blur(function(){
	  			if($(this).val()==""){
	  				showOrHideMsg(true,"密码不能为空");
	  			}else{
	  				showOrHideMsg(false,"");
	  			}
	  	});
	  	$("#check_code").blur(function(){
	  			if($(this).val()==""){
	  				##showOrHideMsg(true,"验证码不能为空");
	  			}else{
	  				##showOrHideMsg(false,"");
	  			}
	  	});
	});

	function changeCode(){
		$('#checkCode').attr('src','$appServer.get('/horn/checkCode/get.htm')?d='+ Math.random());
	}
	var flag = true;
	function loginSubmit(){
		var userNmae = $("#user_name").val();
		var password = $("#pass_word").val();
		var check_code = $("#check_code").val();
		if(userNmae=='' || userNmae==null){
			showOrHideMsg(true,"用户ID不能为空");
			##Horn.Tip.warn("用户ID不能为空");
			return false;
		}else{
			showOrHideMsg(false,"");
		}
		if(password=='' || password==null){
			showOrHideMsg(true,"密码不能为空");
			##Horn.Tip.warn("密码不能为空");
			return false;
		}else{
			showOrHideMsg(false,"");
		}
		if(check_code=='' || check_code==null){
			##showOrHideMsg(true,"验证码不能为空");
			##Horn.Tip.warn("密码不能为空");
			##return false;
		}else{
			showOrHideMsg(false,"");
		}
		if(flag){
			$("#btnLogin").text("正在登陆...");
			$("#btnLogin").attr("disabled",true);
			$("#loginForm").submit();
		}
	}
	
	function showOrHideMsg(flag,msg){
		if(flag){
			flag = false;
			$(".m-tip-box").show();
			$("#msg").text(msg);
		}else{
			flag = true;
			$(".m-tip-box").hide();
			$("#msg").text("");
		}
	}
	
#end