$horn.addGlobal("headStyleLinks", "/components/components.css")
$horn.addGlobal("headStyleLinks", "/plugins/zTree/zTreeStyle/zTreeStyle.css")
$horn.addGlobal("headStyleLinks", "/css/${theme}/h_theme.css")
$horn.addGlobal("headStyleLinks", "/css/user/userstyle.css")
##$horn.addGlobal("headStyleLinks", "/scripts/HsUI.css")
$horn.addGlobal("headStyleLinks", "/plugins/datetimepicker/datetimepicker.css")
$horn.addGlobal("headStyleLinks", "/plugins/SyntaxHighlighter/Styles/SyntaxHighlighter.css")
$horn.addGlobal("headScriptLinks", "/plugins/SyntaxHighlighter/Scripts/shCore.js")
$horn.addGlobal("headScriptLinks", "/plugins/SyntaxHighlighter/Scripts/shBrushXml.js")
$horn.addGlobal("headScriptLinks", "/plugins/jquery/jquery-1.11.3.min.js")
##$horn.addGlobal("headScriptLinks", "/plugins/jquery/jquery.mini.js")
$horn.addGlobal("headScriptLinks", "/plugins/datetimepicker/bootstrap-datetimepicker.js")
$horn.addGlobal("headScriptLinks", "/plugins/bigpipe.mini.js")
$horn.addGlobal("headScriptLinks", "/plugins/zTree/jquery.ztree.core-3.5.min.js")
$horn.addGlobal("headScriptLinks", "/plugins/zTree/jquery.ztree.exhide-3.5.min.js")
$horn.addGlobal("headScriptLinks", "/plugins/zTree/jquery.ztree.excheck-3.5.min.js")
$horn.addGlobal("headScriptLinks", "/plugins/jquery/jquery.resizableColumns.js")
#if($devMode)
	$horn.addGlobal("headScriptLinks", "/components/components-debug.js")
#else
	$horn.addGlobal("headScriptLinks", "/components/components.js")
#end
##$horn.addGlobal("headScriptLinks", "/scripts/HsUI.js")

$contain.get("/contain/hornhtml.htm")