.g-ztree-wrap:before,
.g-ztree-wrap:after {
  display: table;
  line-height: 0;
  content: "";
}
.g-ztree-wrap:after {
  clear: both;
}
.u-ztree-toolbar {
  padding: 10px;
  border-bottom: 1px solid #E2E7EB;
}
.u-ztree-btn {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}
.u-ztree-btn > li {
  display: inline;
}
.u-ztree-btn > li > a {
  font-size: 12px;
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  margin-right: 15px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  color: #666;
  background-color: #fff;
  border: 1px solid #BFC9D4;
}
.u-ztree-btn > li > a > i{
  margin-right: 5px;
  font-size: 14px;
  color: #8aa3b7;
}
.u-ztree-btn > li > a:hover,
.u-ztree-btn > li > a:focus,
.u-ztree-btn > li > a:hover > i,
.u-ztree-btn > li > a:focus > i {
  color: #242a30;
  background: #e2e7eb;
  border-color: #BFC9D4;
}
.u-ztree-btn > .disabled > a,
.u-ztree-btn > .disabled > a:hover,
.u-ztree-btn > .disabled > a:focus {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.u-ztree-search {
  position: relative;
  padding: 10px;
}
.u-ztree-search > a {
  position: absolute;
  right: 40px;
  top: 20px;
}
.u-ztree-search:before {
  content: "\f002"; 
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #A7A8AA;
}
.u-ztree-search .u-ztree-search-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 10px;
  outline: 0;
  font-size: 12px;
  line-height: 1.42857143;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccd0d4;
}
.u-ztree-search .u-ztree-search-input::-moz-placeholder {
  opacity: 1;
  color: #999;
}
.u-ztree-search .u-ztree-search-input:-ms-input-placeholder {
  color: #999;
}
.u-ztree-search .u-ztree-search-input::-webkit-input-placeholder {
  color: #999;
}
.u-ztree-search .u-ztree-search-input:focus {
  outline: 0;
  border-color: #9fa2a5;
}
.u-ztree {
  padding: 0 10px;
}
/* select ztree */
.hc_checkboxdiv .u-ztree li:hover {
  background: #fff !important;
}
.hc_checkboxdiv .u-ztree {
  padding: 0 !important;
}
.hc_checkboxdiv .u-ztree .ztree{
  margin-top: 5px !important;
}
.hc_checkboxdiv .u-ztree ul {
  overflow: inherit !important;
}