#@screen()
    #@case_desc({"title":"绑定数据1"})
	包含用例（暂缺）<br/>
	1,第一次页面加载所有表单的value值生效
	<br/>
    <b>预期：</b>所有表单的值为value<br/>
	2,点击重置按钮<br/>
	<b>预期：</b>所有表单的defValue生效<br/>
	3,点击设置表单<br/>
	<b>预期：</b>所有表单的被设置的值生效<br/>
	4,点击重置按钮<br/>
	<b>预期：</b>所有表单的defValue生效<br/>
	5,点击绑定后台数据按钮<br/>
	<b>预期：</b>所有表单的值为后台的值生效<br/>
	6,点击表单提交按钮<br/>
	<b>预期：</b>提交的值正确<br/>
	7,点击清空表单
	<b>预期：</b>所有表单的值都为空<br/>
    <span style="color: red; font-weight: bold">并通过获取表单值按钮查看每一步所有表单的值，表单的显示值或者状态是否有跟着变化；</span>
    #end
	#@form({"url":"$appServer.get('/test/form/submit.htm')","name":"testForm","postName": false})
		#@panel({})
			#hidden({"name":"key2","value":"26","value":"初始值-hidden","defValue":"默认值-hidden","check":"required"})
			#passwordgroup({"label":"passwordgroup", "name":"key4","value":"初始值-passwordgroup","defValue":"默认值-passwordgroup","check":"required"})
			#label({"label":"label","hiddenName":"key5","value":"初始值-label","defValue":"默认值-label","check":"required"})
           #textfield({"label":"textfield", "name":"key1","value":"初始值-textfield","defValue":"默认值-textfield","check":"required"})
			#password({"label":"password", "name":"key3","value":"初始值-password","defValue":"默认值-password","check":"required"})
			#textarea({"label":"textarea", "name":"key6","value":"初始值-textarea","defValue":"默认值-textarea","check":"required"})
            #calendar({"label":"calendar", "name":"key7","value":"19861223","defValue":"20140401","check":"required"})
            #calendargroup({"label":"calendargroup", "name1":"key8", "name2":"key9","value1":"20140401","value2":"20140402","defValue1":"19861223","defValue2":"19861224","check":"required"})
            #select({"label":"select","name":"key10","multiple":false,"dictName": "country","value":"","defValue":"2","check":"required","headItem":{"label":"","value":"请选择..."}})
            #combox({"label":"combox","name":"key11","multiple":true,"dictName": "province","value":"3","defValue":"4","check":"required"})
			#checkbox({"label": "checkbox", "name":"key12", "static":"key12value-checkbox","check":"required"})
            #checkboxGroup({"label":"checkboxGroup","name":"key13","items":[
                {"label":"游泳","value":"1"},  
                {"label":"骑马","value":"2"}, 
                {"label":"网球","value":"3"}]
            ,"value":"1,2","defValue":"2,3","check":"required"})
    		#radiogroup({"label":"radiogroup", "name":"key14", "items":[
    			{"label":"投机","value":"A"},
    			{"label":"套保","value":"B"},
    			{"label":"套利","value":"C"}
    		],"value":"B","defValue":"C","check":"required"})
			#tooglefield({"label":"tooglefield", "name": "key15","value":"0","defValue":"1","check":"required"})
			#blankcol
		#end
	#end
    #button_panel_ex({"name":"btns","buttons":[
    	{"label":"获取表单值","event":"getValue()"},
    	{"label":"设置表单值","event":"setValue()"},
    	{"label":"重置表单","event":"reset()"},
    	{"label":"绑定后台数据","event":"bind()"},
    	{"label":"表单提交","event":"submit()"},
    	{"label":"清空表单","event":"clearForm()"},
    	{"label":"验证表单是否有效","event":"validateForm()"}
    ]})
	<div class="desc-info">
		<h4>测试结果展示区域</h4>
        <div id="values"></div>
    </div>
#end
#jscode()
// 组件名称
var components = ["textfield", "hidden", "password", "passwordgroup", "label", "textarea", "calendar", "calendargroup", "calendargroup", "select", "combox", "checkbox", "checkboxGroup", "radiogroup", "tooglefield"];
// 表单key值
var keys = ["key1", "key2", "key3", "key4", "key5", "key6", "key7", "key8", "key9", "key10", "key11", "key12", "key13", "key14", "key15"];
// 表单初始化值
var initValues = ["初始值-textfield", "初始值-hidden","初始值-password","初始值-passwordgroup","初始值-label","初始值-textarea","19861223","20140401","20140402","1","3","","1,2","B","0"];
// 表单默认值
var defValues = ["默认值-textfield", "默认值-hidden","默认值-password","默认值-passwordgroup","默认值-label","默认值-textarea","20140401","19861223","19861224","2","4","","2,3","C","1"];
// 表单新值
var newValues = ["新值-textfield", "新值-hidden","新值-password","新值-passwordgroup","新值-label","新值-textarea","20140403","19861225","19861226","3","5","","2,3","A","0"];
// 后台绑定值
var bindValues = ["绑定值-textfield", "绑定值-hidden","绑定值-password","绑定值-passwordgroup","绑定值-label","绑定值-textarea","20140503","19861205","19861206","4","6","","1,3","B","1"];

function setValue() {
	var obj = {};
	for (var i=0; i< keys.length; i++) {
		obj[keys[i]] = newValues[i];
	}
	Horn.getComp("testForm").setValues(obj, null, true); // 设置之后将表单清空
}

function reset() {
	Horn.getComp("testForm").reset();
}

function clearForm() {
	var comps = Horn.getComp("testForm").getFieldComps();
	for (var i=0; i<comps.length; i++) {
		comps[i].setValue("");
	}
}

function validateForm() {
	var result = Horn.getComp("testForm").isValid();
	$("#values").html("验证结果：" + result);
}

function bind() {
	window.location.href = "$appServer.get('/test/form/bind_server_data1.htm')";
}

function submit() {
	Horn.getComp("testForm").submit();
}

function getValue() {
	var values = Horn.getComp("testForm").getValues();
	
	var html = [];
	html.push("<table width='100%'>");
	// 头
	html.push("<th>");
	html.push("<tr style='font-size: 15px; font-weigth: bold;'>");
	html.push("<td>");
	html.push("名称");
	html.push("</td>");
	html.push("<td>");
	html.push("初始值");
	html.push("</td>");
	html.push("<td>");
	html.push("默认值");
	html.push("</td>");
	html.push("<td>");
	html.push("设置新值");
	html.push("</td>");
	html.push("<td>");
	html.push("后台绑定值");
	html.push("</td>");
	html.push("<td>");
	html.push("真实值");
	html.push("</td>");
	html.push("</tr>");
	html.push("</th>");
	for (var i=0; i<keys.length; i++) {
		html.push("<tr>");
		html.push("<td>");
		html.push(keys[i] + ":" + components[i]);
		html.push("</td>");
		html.push("<td>");
		html.push(initValues[i]);
		html.push("</td>");
		html.push("<td>");
		html.push(defValues[i]);
		html.push("</td>");
		html.push("<td>");
		html.push(newValues[i]);
		html.push("</td>");
		html.push("<td>");
		html.push(bindValues[i]);
		html.push("</td>");
		html.push("<td>");
		html.push(values[keys[i]]);
		html.push("</td>");
		html.push("</tr>");
	}
	html.push("</table>");

	$("#values").html(html.join(""));
}

#end
