#@screen()
    #@case_desc({"title":"设置表单组件的值"})
	包含用例（暂缺）<br/>
	1,宏上不指定value，在后台action上进行数据构造赋值
	<br/>
    <b>预期：</b>表单上的值可以正常填充<br/>
    <span style="color: red; font-weight: bold">通过获取表单值按钮查看每一步所有表单的值</span>
    #end
	#@form({"url":"","name":"testForm_simple"})
		#@panel({})
			#textfield({"label":"textfield", "name":"key1","defValue":"默认值-textfield","check": "required"})
			#hidden({"name":"key2","defValue":"默认值-hidden","check": "required"})
			#password({"label":"password", "name":"key3","defValue":"默认值-password","check": "required"})
			#passwordgroup({"label":"passwordgroup", "name":"key4","defValue":"默认值-passwordgroup","check": "required"})
			#label({"label":"label","hiddenName":"key5","defValue":"默认值-label","check": "required"})
            #textarea({"label":"textarea", "name":"key6","defValue":"默认值-textarea","check": "required"})
            #calendar({"label":"calendar", "name":"key7","defValue":"20140401","check": "required"})
            #calendargroup({"label":"calendargroup", "name1":"key8", "name2":"key9","defValue1":"19861223","defValue2":"19861224","check": "required"})
            #select({"label":"select","name":"key10","multiple":false,"dictName": "country","defValue":"2","check": "required"})
            #combox({"label":"combox","name":"key11","multiple":true,"dictName": "province","defValue":"4","check": "required"})
			#checkbox({"label": "checkbox", "name":"key12", "static":"key12value-checkbox","check": "required"})
            #checkboxGroup({"label":"checkboxGroup","name":"key13","items":[  
                {"label":"游泳","value":"0"},  
                {"label":"骑马","value":"2"}, 
                {"label":"网球","value":"3"}],
            "defValue":"2,3","check": "required"})
    		#radiogroup({"label":"radiogroup", "name":"key14", "items":[
    			{"label":"投机","value":"0"},
    			{"label":"套保","value":"1"},
    			{"label":"套利","value":"2"}
    		],"defValue":"C","check": "required"})
			#tooglefield({"label":"tooglefield", "name":"key15","defValue":"1","check": "required"})
			#typefield({"check": "required;","value":"333333","defValue":"11111","maxlength":" ","id":"t2","name":"key16","label":"测试金额测试金额测试金额测试金额测试金额测试金额", "cols":3,"split":",","bigTips":true}) 
			#blankcol
		#end
	#end
    #button_panel_ex({"name":"btns","buttons":[
    	{"label":"获取表单值","event":"getValues()"},
    	{"label":"不带前缀设置","event":"setValues(false)"},
		{"label":"手工表单赋值","event":"setFormValues()"},
    	{"label":"不带前缀设置clear","event":"setValues(true)"},
    	{"label":"序列化表单为JSON","event":"serializeArray()"},
    	{"label":"序列化表单为字符串","event":"serializeString()"},
    	{"label":"getFieldComps方法","event":"getFieldComps()"},
    	{"label":"get(name)方法","event":"getTest1()"},
    	{"label":"触发校验","event":"isValid()"}
    ]})

	#@form({"url":"","name":"testForm_prefix"})
		#@panel({})
			#textfield({"label":"textfield", "name":"prefix.key1","defValue":"默认值-textfield"})
			#hidden({"name":"prefix.key2","defValue":"默认值-hidden"})
			#password({"label":"password", "name":"prefix.key3","defValue":"默认值-password"})
			#passwordgroup({"label":"passwordgroup", "name":"prefix.key4","defValue":"默认值-passwordgroup"})
			#label({"label":"label","hiddenName":"prefix.key5","defValue":"默认值-label"})
            #textarea({"label":"textarea", "name":"prefix.key6","defValue":"默认值-textarea"})
            #calendar({"label":"calendar", "name":"prefix.key7","defValue":"20140401"})
            #calendargroup({"label":"calendargroup", "name1":"prefix.key8", "name2":"prefix.key9","defValue1":"19861223","defValue2":"19861224"})
            #select({"label":"select","name":"prefix.key10","multiple":false,"dictName": "country","defValue":"2"})
            #combox({"label":"combox","name":"prefix.key11","multiple":true,"dictName": "province","defValue":"4"})
			#checkbox({"label": "checkbox", "name":"prefix.key12", "static":"prefix.key12value-checkbox"})
            #checkboxGroup({"label":"checkboxGroup","name":"prefix.key13","items":[  
                {"label":"游泳","value":"0"},  
                {"label":"骑马","value":"2"}, 
                {"label":"网球","value":"3"}],
            "defValue":"2,3"})
    		#radiogroup({"label":"radiogroup", "name":"prefix.key14", "items":[
    			{"label":"投机","value":"0"},
    			{"label":"套保","value":"1"},
    			{"label":"套利","value":"2"}
    		],"defValue":"C"})
			#tooglefield({"label":"tooglefield", "name":"prefix.key15","defValue":"1"})
			#typefield({"check": "required;","value":"333333","defValue":"11111","maxlength":" ","id":"t2","name":"prefix.key15","label":"测试金额测试金额测试金额测试金额测试金额测试金额", "cols":3,"split":",","bigTips":true}) 
			#blankcol
		#end
	#end
    #button_panel_ex({"name":"btns","buttons":[
    	{"label":"带前缀获取表单值","event":"getPrefixValues()"},
    	{"label":"带前缀设置","event":"setPrefixValues(false)"},
    	{"label":"带前缀设置clear","event":"setPrefixValues(true)"}
    ]})
	<div class="desc-info">
		<h4>表单值显示区域</h4>
        <div id="values"></div>
    </div>
#end

#jscode()

var form1 = "testForm_simple";
var form2 = "testForm_prefix";

// 表单key值
var keys = ["key2", "key3", "key4", "key5", "key6", "key7", "key8", "key9", "key10", "key11", "key12", "key13", "key14", "key15"];
// 表单新值
var newValues = ["","新值-password","新值-passwordgroup","新值-label","新值-textarea","20140403","19861225","19861226","3","5","","2,3","A","0"];

function getValues() {
	var values = Horn.getComp(form1).getValues();
	if (console) {
		console.log(values);
	}
}
function setFormValues(){
	Horn.getComp("testForm_prefix").setValues({"prefix.key1":0,"prefix.key2":0,"prefix.key3":0,"prefix.key4":0,"prefix.key5":0,"prefix.key6":0,"prefix.key7":0,"prefix.key8":0,"prefix.key9":0,"prefix.key10":"0","prefix.key11":"0","prefix.key12":0,"prefix.key13":0,"prefix.key14":0,"prefix.key15":0,"prefix.key16":0});
}
function setValues(clear) {
	var obj = {};
	for (var i=0; i< keys.length; i++) {
		obj[keys[i]] = newValues[i];
	}
	Horn.getComp(form1).setValues(obj, null, clear); // 设置之后将表单清空
}

function serializeArray() {
	var values = Horn.getComp(form1).serializeArray();
	if (console) {
		console.log(values);
	}
}

function serializeString() {
	var values = Horn.getComp(form1).serialize();
	if (console) {
		console.log(values);
	}
}

function isValid() {
	var result = Horn.getComp(form1).isValid();
	if (result === true) {
		alert("校验通过");
	} else if (result === false) {
		alert("校验失败");
	} else {
		if (console) {
			console.log(result);
		} 
		alert("无法判断是否校验通过：" + result);
	}
}

function getFieldComps() {
	var result = Horn.getComp(form1).getFieldComps();
	if (console) {
		console.log(result);
	}
}

function getTest1() {
	var result = Horn.getComp(form1).get("key1");
	if (console) {
		console.log(result);
	}
}

function getPrefixValues() {
	var values = Horn.getComp(form2).getValues();
	if (console) {
		console.log(values);
	}
}

function setPrefixValues(clear) {
	var obj = {};
	for (var i=0; i< keys.length; i++) {
		obj[keys[i]] = newValues[i];
	}
	Horn.getComp(form2).setValues(obj, "prefix", clear); // 设置之后将表单清空
}

#end
