
$horn.addGlobal("headStyleLinks", "/components/components.css")
$horn.addGlobal("headStyleLinks", "/css/login/login.css")
$horn.addGlobal("headScriptLinks", "/plugins/jquery/jquery.mini.js")
$horn.addGlobal("headScriptLinks", "/plugins/datetimepicker/bootstrap-datetimepicker.js")
$horn.addGlobal("headScriptLinks", "/components/components.js")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="JresUI" />
  <meta name="keywords" content="JresUI" />
  <meta name="author" content="JresUI" />
  #resource_include()
  <title>${title}</title>
</head>
<body>
  $screen_content
</body>
</html>