.u-menu {
  position: relative;
}
.u-menu-btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  font-weight: normal;
  color: #333;
  background: #fff;
  border: 1px solid #d8dde1;
  border-radius: 3px;
}
.u-menu-btn:hover,
.u-menu-btn:focus,
.u-menu-btn.focus {
  text-decoration: none;
  color: #333;
  background: #e2e7eb;
  border-color: #d8dde1;
}
.u-menu-btn:active,
.u-menu-btn.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
  background-image: none;
  background: #e2e7eb;
  border-color: #d8dde1;
}
.u-menu-btn.disabled {
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: not-allowed;
  pointer-events: none;
}
.u-dropdown-menu {
  order: none;
  font-size: 12px;
  position: absolute;
  top: 100%;
  z-index: 1000;
  min-width: 160px;
  padding: 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #eee;
}
.u-dropdown-menu > li {
  position: relative;
}
.u-dropdown-menu .u-menu-icon {
  width: 20px;
  display: inline-block;
}
.u-dropdown-menu .u-menu-txt {
  height: 30px;
  border-left: 1px solid #eee;
  display: inline-block;
  padding: 0 5px;
}
.u-dropdown-menu .u-menu-arrow {
  width: 10px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 5px;
}
.u-dropdown-menu > li > a {
  display: block;
  padding: 0 7px;
  clear: both;
  font-weight: normal;
  line-height: 30px;
  color: #333;
  white-space: nowrap;
}
.u-dropdown-menu > li > a:hover,
.u-dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #edf0f5;
}
.u-dropdown-menu > .active > a,
.u-dropdown-menu > .active > a:hover,
.u-dropdown-menu > .active > a:focus {
  text-decoration: none;
  outline: 0;
  color: #fff;
  background-color: #348fe2;

}
.u-dropdown-menu > .disabled > a,
.u-dropdown-menu > .disabled > a:hover,
.u-dropdown-menu > .disabled > a:focus {
  color: #777;
}
.u-dropdown-menu > .disabled > a:hover,
.u-dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}